html,
body {
    height: 400%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e6a95a, #9b59b6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for the map container */
#map {
    display: none;
    width: 0;
    height: 0;
    transition: width 2s ease, height 2s ease;
}

#map.grow {
    width: 100vh;
    height: 600px;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Optional: Add some padding around the h1 element */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    justify-content: center;
}

/* Optional: Style the popup content */
.leaflet-popup-content-wrapper {
    font-size: 14px;
    line-height: 1.5;
}

/* Custom cluster icon styles */
.custom-cluster-icon {
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* Style for buttons */
button {
    background-color: #34495e;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #2c3e50;
    transform: translateY(-5px);
}
                                .side-container {
                                    width: 20%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    background-color: #512a9b13;
                                    overflow: hidden;
                                    z-index: 0;
                                    /* Ensure it is behind the center content */}

        
                #left-banner {
                    left: 0;
                }
        
                #right-banner {
                    right: 0;
                }
                .center-content {
                    width: 60%;
                    /* Adjusted width to 60% to leave space for side containers */
                    text-align: center;
                    z-index: 1;
                    margin: auto;
                    /* Center the content considering the side containers */
                }